<!-- vies/partials/header -->

<div class="w3-display-container" style="height: 50px; margin-right: 1vw;">
    <div id="project_logo">Matcha</div>
    <div class="w3-display-right top_bar_links">
        <i class="far fa-bell"><a href="notifications" alt="Notifcations"></a></i>
        <i class="fas fa-comments"><a href="messages" alt="Messages"></a></i>
        <i class="fas fa-user-alt"><a href="profile" alt="Profile"></a></i>
    </div>
</div>

<div class="w3-bar w3-black">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="browse" class="w3-bar-item w3-button">Browse</a>
    <a href="research" class="w3-bar-item w3-button">Search</a>
    <div class="w3-right">
        <a href="login" class="w3-bar-item w3-button">Login</a>
    </div>
</div>
