<% include partials/head %>
<header>
    <%- include('partials/header', {session: session}); %>
</header>

<div id="login_class">
    <form action="" method="post" id="login_form" name="login_form">
        <label for="email">Email:</label> <input type="text" size="30" id="email" maxlength="30" name="email" placeholder="Email..."><br/>
        <button type="submit" id="login">Submit</button>
    </form>
    <% if (error){
        if (error == "Invalid") { %>
            <h6 style="text-align: center">Invalid User</h6>
        <% } else { %>
            <h6 style="text-align: center">Check Email</h6>
        <% } %>
    <% } %>
</div>

<% include partials/footer %>