<% include partials/head %>
<header>
        <%- include('partials/header', {session: session}); %>

</header>

<div id="login_class">
    <form action="" method="post" id="login_form" name="login_form">
        <label for="username">Username:</label> <input type="text" size="30" id="username" name="username" placeholder="Username..."><br/>
        <label for="password">Password:</label> <input type="password" size="30" id="password" name="password" placeholder="Password..."><br/><br/>
        <button type="submit" id="login">Login</button>
        <h6>New Account? <a href="registration">Register</a> Here!</h6>
        <!-- <a href="forgot_password.php">Forgot Password?</a> -->
    </form>
    <% if (result){
        if (result == "invalid"){ %>
            <h6 style="text-align: center">Invalid Login Details</h6>
        <% }
    } %>
</div>

<% include partials/footer %>