<% include partials/head %>
<header>
        <%- include('partials/header', {session: session}); %>
</header>

<div id="matcha-chat">
    <div id="chat-window">
        <div id="old_output">
            <% messages.forEach(function(message){ %>
                <div id="chat_bubble"><%= chat_mate %>: <p><strong></strong><%= message.message %></p></div>
            <% }) %>
        </div>
        <div id="output"></div>
        <div id="feedback"></div>
        <div id="message_control" valign="bottom">
                <input id="handle" type="hidden" value="<%= session %>"/><br>
                <textarea id="message" type="text" placeholder="Message" cols="75" rows="4"></textarea>
                <br><button id="send_message">Send</button>
        </div>
    </div>
    
</div>
<script src="/chat.js"></script>

<% include partials/footer %>