.search_options{
    width: 75%;
    background-color: cyan;
    height: 50px;
    margin: auto;
    padding: 8px;
}

#unread_row{
    color: lightblue;
}

#read_row{
    color: lightgray;
}

.table {
    color: white;
}

#matcha-chat{
    min-width: 90vw;
    min-height: 80vh;
    background-color: lightgray;
}

#matcha-chat{
    min-width: 80vw;
    height: 100%;
    padding: 10px;
    background-color: lightgray;
}

#message_control{
    /* position: fixed; */
    bottom: 130px;
}

#chat_bubble{
    background-color: lightblue;
    width: 100%;
    padding: 3px;
    border-radius: 5%;
}