body {
	background-image: url('extra/321859.jpg');
	/* background-repeat: no-repeat; */
	/* background-position: center; */
	background-size: cover;
	min-height: 100%;
}

#menu_bar {
	margin-top: 10vh;
	width: 100vh;
}

#profile_drop {
	float: left;
}

#project_logo {
	font-family: 'Akronim';
	font-size: 30px;
	color: greenyellow;
}

.logo {
	color: white;
	font-size: 14px;
}

.central_grid_item {
	padding: 1vh;
	width: 100%;
	height: 100%;
	display: block;
	background-color: white;
	border-radius: 3%;
}

.central_grid_picture {
	padding: 1vh;
	width: 100%;
	height: 70%;
	display: block;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	border: 3px solid black;
	border-radius: 3%;
}

.central_grid {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	padding: 10px;
	grid-gap: 0.5em;
    min-height: 82vh;
    overflow-y: scroll;
  }

#pagination {
	width: 80%;
	height: 20px;
	margin-left: 10vw;
	background-color: red;
	color: white;
	text-align: center;
}
